
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>你媽的 為什麼</title>
    你媽的 為什麼
    你媽的 為什麼
    你媽的 為什麼
    你媽的 為什麼
    你媽的 為什麼
</head>
<body>
</body>
</html>
